@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #fcefb4;
  /* --color-secondary: #52b788; */

  --color-base-100: #edf2f4;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #fcefb4;
  /* --color-secondary: #52b788; */

  --color-base-100: #333333;
  --color-base-200: #000000;
  /* --color-base-100: #4a4a4a; */
  --color-base-content: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
}

.heading {
  @apply text-2xl font-semibold my-5;
}

.btn {
  @apply bg-primary text-black  rounded-lg shadow-none hover:bg-black hover:text-white;
}

.delete {
  @apply bg-red-500 rounded-lg shadow-none;
}

a.active {
  @apply bg-primary text-black py-2 px-3 rounded;
}

.slick-prev:before,
.slick-next:before {
  @apply text-gray-500;
}
